*{box-sizing: border-box;}

#openButton{
    background-color: rgba(14, 14, 103, 0.638);
}

#closeButton {
    background-color: rgba(14, 96, 103, 0.638);
}

#dialogBox{
    background-color: rgba(247, 231, 247, 0.777);
}

::backdrop{
    background-color: rgba(57, 238, 25, 0.508);
}

