@media only screen and (max-width: 38rem) {
    .hidden {
        display: none;
    }
}

@media only screen and (max-width: 44rem) {
    .joinBase {
        display: flex;
        flex-direction: column;
    }
}