@media only screen and (min-width: 38rem) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    .ativo {
        border-bottom: 3px solid var(--destaque-color);
    }

    .hamburguer {
        display: none;
    }

    #nav-menu {
        display: block !important;
    }

    nav {
        display: block;
    }

    header{
        background-color: black;
    }

    .space {
        width: 140px;
    }

    .left {
        position: relative;
        right: 30px;
    }

    #nav-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        gap: 20px;
        padding: 10px;
        padding-top: 2rem;
        background-color: rgb(0, 0, 0);        
    }

    #nav-menu ul li a {
        color: rgb(218, 199, 176);
        font-size: medium;
    }

    #nav-logo{
        margin: 0;
        background-image: url("../images/wallpaper-hero3.webp");
        height: 30vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #nav-logo::before{
        content:"";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
    }


    #desktop-logo{
        width: 500px;
        margin: none;
        position: relative;
        z-index: 1;
        bottom: 100px;

    }

    nav ul li a {
        text-decoration: none;
    }

    nav ul li a:hover {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

}