:root{
    --destaque-color: #5C0000;
    --font-color: #534B4F;
    --background-footer: #534b4f37;
    --subtom: rgb(218, 199, 176);
    --yellow: rgba(255, 196, 0, 0.952);
}



body{
    background-color: #fff6f2;
    color: #534B4F;
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';

}

h2, h1, footer{
    color: #5C0000;
    font-family: "Libertinus Serif", serif;
}

footer {
    background-color: black;
    color: white;
}

.final{
    text-align: center;
    padding-bottom: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    margin: 0;
}

.social img {
    width: 50px;
    height: 35px;
}

#creditos {
    padding-top: 5px;
    margin: 0%;
}

#lastModified {
    font-size: small;
    margin: 0%;
    padding: 5px;
}
@media only screen and (max-width: 36rem) {
    header {
            display: grid;
            grid-template-columns: 1fr auto 44px;
            padding: 5px 0 5px 10px;
            border-bottom: solid 1px #ddd;
            column-gap: 8px;
            align-items: end;
        }
}
header{ 
    background-color: grey;
}

header img {
    display: block;
    height:auto;
    max-width: 100%;
    padding-bottom: 5px;
}

.hamburguer {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: inline-block;
    align-self: center;
}

.hamburguer::before {
    content: "\2630";
}

.hamburguer.show::before {
    content: "\00D7";

}

@media only screen and (max-width: 36rem) {
.hidden {
        display: none;
    }
}

.hidden { 
    display: none !important; 
}

header nav ul{
    padding: 2rem;
    background-color: black;

}

#nav-menu ul li {
    margin: 1rem;
    list-style: none;
}

a {
    font-size: large;
    padding: 1rem;
    text-decoration: none;
    color: var(--subtom);
    
}

.ativo{
    text-decoration: underline;
}
    
.introduction {
    padding: 1rem;
}
.our {
    padding: 1rem 2rem;
}

.impact{
    text-align: center;
    padding: 2rem 2rem 6rem 2rem;
}


.formpage {
    padding: 3rem;


}

.form h1{
    text-align: center;
}

.form, fieldset, label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    background-color: rgba(224, 216, 213, 0.908);
}

.form legend{
    color: var(--destaque-color);
    padding: 0.5rem;
}

.form fieldset{
    margin: 1rem 2rem;
    border: 1px solid #5c000064;
}
.form label{
    padding: .4rem 1rem;
}
.form label input {
    max-width: 19rem;
    height: .7rem;
    border: 1px solid grey;
    border-left: 5px solid;
    border-radius: 4px;
    padding: 0.6rem;
}

.form label input:required:valid {
    border-left: 5px solid green;
}

.form label input:required {
    border-left: 5px solid red;
}

.submitbtn {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
}

.form input[type="submit"] {
    grid-column: 2/3;
    text-align: center;
    max-width: 20rem;
    padding: 0.8rem;
    border: none;
    background: linear-gradient(90deg, #5C0000, #8B0000, #5C0000);
    color: white;
    font-size: large;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

@keyframes bookbutton {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(92, 0, 0, 0);
    }
    25% {
        transform: scale(1.05);
        box-shadow: 0 0 0 rgba(92, 0, 0, 0.4);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(92, 0, 0, 0.6);
    }
    75% {
        transform: scale(1.05);
        box-shadow: 0 0 0 rgba(92, 0, 0, 0.4);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(92, 0, 0, 0);

    }    
}

.form input[type="submit"]:hover{
    animation: bookbutton 1.5s infinite ease-in-out;
}

input[type="submit"]:active {
    transform: scale(0.95);
}

select {
    color:var(--font-color);
    max-width: 20rem;
    padding: 5px;
    background-image: linear-gradient(100deg,#f6d4d4,#f6eeee);
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
    max-width: 19rem;
    padding: .5rem .8rem;
}

.aboutfinal{
    display: none;
}

#thankpage {
    padding: 1rem 3rem;
}

.formbtn{
    justify-self: center;
}

.formbtn button{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: .5rem 1rem;
    background-color: var(--font-color);
    color: white;
    cursor: pointer;
}

.formbtn button:hover{
    border: 2px solid var(--destaque-color);
    animation: bookbutton 1.5s infinite ease-in-out;
}

.formbtn button:active{
    transform: scale(0.95);
}

.library{
    background-color: black;
    padding-top: 1rem;
    text-align: center;
}

#gridListMenu {
    text-align: center;
    justify-self: center;
    color: var(--subtom);
}

#gridListMenu button{
    padding: 1rem 2rem;
    margin: 10px;
    border-radius: 8px;
    font-size: large;
    cursor: pointer;
    border: 2px solid var(--destaque-color);
    color: var(--destaque-color);
}

#gridListMenu button:hover{
    animation: bookbutton 1.5s infinite ease-in-out;
}

.grid #books-container h2{
    color: white;
}

.list #books-container h2 {
    color: white;
}

.grid #books-container {
    display: flex;
    flex-direction: column;
}

.grid .book-card {
    border: 2px solid #534b4f37;
    padding: 1rem;
    text-align: center;
    margin: 1rem 3rem;
    border-radius: 16px;
    background-color: var(--destaque-color);
    color: white;
}

.grid .book-card img{
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    filter:saturate(50%);
    margin: 1rem;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    justify-self: center;

}


.list .book-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-size: smaller;
    color: white;
    margin: 1rem 3rem;
}

.list .book-card img {
    max-width: 4rem;

}

.list .book-card p {
    margin: 15px;
}

.list a {
    text-decoration: none;
    color: var(--color-principal)
}

.list h2 {
    display: block;
    width: 110px;
}

#book-details a {
    color: var(--destaque-color);
}
#book-details {
    max-width: 25rem;

}

#book-details{
    text-align: left;
    border-radius: 8px;
}
#book-details #closeModal{
    float: right;
    border: 1px solid transparent;
    cursor: pointer;
}

#book-details::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

#book-details button{
    display: flex;
    justify-content: center;
}
#book-details button, .callbox button{ 
    color: black;
    font-size: small;
    border-radius: 1rem;
    border:transparent;
    background-image: linear-gradient(#5d5c5c68, white);
    box-shadow: 6px 7px 9px 2px rgba(144, 139, 139, 0.39);
    padding: .3rem 1rem;
    cursor:pointer;
    
}
#book-details button:hover, .callbox button:hover{
    box-shadow: none;
    background-image: linear-gradient(white, #5d5c5c68);
    animation: bookbutton 1.5s infinite ease-in-out;
}

.homepage {
    padding-top: 2rem;
}

.homepage #bookweek {
    background-color: black;
    color: white;
    padding: 3rem;
    justify-items: center;
    border-left: .7rem solid rgba(255, 196, 0, 0.952);
    border-right: .7rem solid rgba(255, 196, 0, 0.952);
}
.homepage #bookweek h2{
    color: rgba(255, 196, 0, 0.952);
}
.homepage #bookweek #spotlight{
    text-align: center;
}
.homepage #bookweek #spotlight img{
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 6px 7px 5px 0px rgba(193, 187, 187, 0.755);
}

.homepage #bookweek button{
    margin-top: 2rem;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: .5rem 2rem;
    background-color: rgba(255, 196, 0, 0.952);
    color: black;
    cursor: pointer;
} 

.homepage #bookweek button:hover{
    border: 2px solid white;
    animation: bookbutton 1.5s infinite ease-in-out;

}

.homepage .impressions .purpose h3{
    padding: 3rem;
    align-self: center;
}

.homepage .impressions .purpose img{
    max-width: 30rem;
    height: 20rem;
    border-radius: 8px;
    padding: 1rem;
}

.homepage .impressions .purpose .img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: var(--destaque-color);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.homepage .impressions .purpose h4{
    text-align: center;
    color: black;
}

.callbox{
    background-color:var(--destaque-color);
    color: white;
    padding: 3rem;
    text-align: center;

}

.less{
    padding-bottom: 1rem;

}

.book-card img {
    aspect-ratio: 2 / 3;
    width: 100%;
    height: auto;
}

#spotlight img:hover{
    animation: bookbutton 1.5s infinite ease-in-out ;
}

.library h1{
    color: var(--yellow);
}

button a{
    color: black;
}